/* .card-img-top{
    display:flex;
    justify-content: center;
    margin-bottom: 2%;
} */

.button  {
    display:inline-block;
    padding: 8px 16px;
    background-color: #6D854B; 
    color:#fff; /* White color for button text */
    text-decoration :none;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button:hover{
    background-color: #45a049;
}

  /* Apply styles to all recipes */
.recipe {
    margin-bottom: 20px;
}

/* Style the stars and rating display */
.recipe .stars {
    margin-bottom: 10px;
}

.recipe .star {
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
}

.recipe .star.active {
    color: #ffc107; /* Change color for active stars*/ 
}
 
 
h2 {
    margin-bottom: 3px; /* Reduce space below the recipe title */
    color: #6D854B;
}

h1 {
    
    color: #6D854B; /* Reduce space below the recipe title */
    
}

p {
    font-size: 140%;
    color: #646464; /* Reduce space below the recipe title */
}

body {
    background-color: #edeee7; /* Set your desired background color */
}

.card  {
    margin-left: auto;
    margin-right: auto;
    padding-right: 300px;
    margin-right: 500px;
   
}